<%= form_for @question, :html => {:class => "form-horizontal"} do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
		<div class="alert alert-dismissible alert-danger">
      <%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:
</div>
      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
	<div>
		<fieldset>
			<br>
			<%= render :partial => "question_fields", :locals => { :f => f }%>
		</fieldset>
	</div>
  <div class="left">
	  <br>
	   <legend>Answer Options<legend>
		  <div id="options">
			 <%= f.fields_for :answer_options do |answer_option| %>
			 <%= render "answer_option_fields", f: answer_option %>
			 <%end%>
          </div> 
		  <br></br>
		  <%= link_to_add_association 'add option', f, :answer_options%>
        </div>
	    <div class="left">
	  	  <br>
	  	   <legend>Pictures<legend>
	  		  <div id="options">
	  			 <%= f.fields_for :pictures do |picture| %>
	  			 <%= render "picture_fields", f: picture %>
	  			 <%end%>
	            </div> 
	  		  <br></br>
	  		  <%= link_to_add_association 'add picture', f, :pictures%>
	          </div>
      </div>
			  
  <div class="form-actions">
	  <%= link_to 'Back', root_path, class: "btn btn-default" %>
    <%= f.submit "Submit", class: "btn btn-default btn-primary" %>
  </div>
<% end %>
