<div class="field">
<%= f.label :creator_id %><br>
<%= f.collection_select :creator_id, @users, :id, :name %>
</div>
<div class="field">
<%= f.label :question_text %><br>
<%= f.text_field :question_text %>
</div>
<div class="field">
<%= f.label :allow_comments %><br>
<%= f.check_box :allow_comments, {}, true, false %>
</div>