<p id="notice"><%= notice %></p>

<p>
<script src="https://code.highcharts.com/4.1.9/modules/data.js"></script>
<script src="https://code.highcharts.com/4.1.9/modules/drilldown.js"></script>
<script type="text/javascript">
$(function () {
    // Create the chart
    $('#container').highcharts({
    	data: {
            table: 'datatable'
        },
        chart: {
            type: 'column'
        },
        title: {
            text: 'Answers Breakdown for <%= @question.question_text %>'
        },
        subtitle: {
            text: 'Click the columns to view more details</a>.'
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Answers'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: false,
                }
            }
        },

        tooltip: {
            formatter: function () {
                return '<b>' + this.series.name + '</b><br/>' +
                    this.point.y + ' ' + this.point.name.toLowerCase();
            }
        }
    });
});


</script>


        <h1><%= @question.question_text %> </h1>
         <!-- <%= image_tag @question.picture.url if @question.picture? %> -->
        <br>
        <h3> Answers </h3>

        <table id="datatable">
        <thead>
  		<tr>
			<th>Option</th>
			<th></th>
			<th></th>
			<th>Answers</th>
		</tr>
  		</thead>

  		<tbody>
     <% @question.answer_options.each do |answer_option| %>
      <tr>
        <td><%= answer_option.option %></td>
		<th></th>
		<th></th>
        <td><%= Answer.find_count(answer_option.id) %></td>
      </tr>
    <% end %>
  </tbody>
		</table>
		<div class="left">
			<br>
			<p><strong>Comments:</strong></p>
		<%if @question.allow_comments = true %>
     <% @question.answer_options.each do |answer_option| %>
	 <% answer_option.answers.each do |answer| %>
	 <%= answer.comments %>
    <% end %>
	<% end %>
	<% end %>
</div>
        <br>
        <h3> Graph </h3>
        <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
