<script>
<% js = escape_javascript(
  render(partial: 'list', locals: { users: @users })
) %>
$("#filterrific_results").html("<%= js %>");
</script>


<h1>Listing users</h1>
<div class="left">
<%= form_for_filterrific @filterrific do |f| %>
  <div>
    Search
    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
    <%= f.text_field(
      :search_query,
      class: 'filterrific-periodically-observed'
    ) %>
  </div>

  <div>
    <%= link_to(
      'Reset filters',
      reset_filterrific_url,
    ) %>
  </div>
  <%# add an automated spinner to your form when the list is refreshed %>
  <%= render_filterrific_spinner %>
<% end %>

</div>

<%= render(
  partial: 'list',
  locals: { users: @users }) %>


