<!-- generic view for a guest -->
<div class="container">
  <% if !logged_in? %>
    <h3> Welcome to Deligo! <h3>
      <div class="center jumbotron">
        <%= image_tag("newdeligologo.png")%>
      </div>
  <% else %>
    <div class="center jumbotron">
        <%= image_tag("newdeligologo.png")%>
      </div>
    <h3> Welcome back, 
      <%= current_user.name %>!
    </h3>
  <% end %>
</div>

<div class="buttons">
  <% if !logged_in? %>
    <%= link_to "Sign up now!", new_user_path, class: "btn btn-lg btn-primary" %>
  <% else %>

  <%= render :partial => "friends_questions" %>

  <%if @questions.not_creator(current_user.id) and @questions.not_creator(current_user.id).length > 0 and Question.first_unanswered(current_user.id)%>
    <%= link_to 'Start Answering Questions', answering_question_path(Question.first_unanswered(current_user.id)), class: "btn btn-lg btn-primary" %>
    <br></br>
  <% end %>
  <%= link_to 'Ask a Question', new_question_path(),class: "btn btn-lg btn-default" %>
  <%= link_to 'My Questions', questions_path({:current_id => current_user.id}) ,class: "btn btn-lg btn-default" %>
<% end %>
</div>