<p id="notice"><%= notice %></p>

<p>
  <strong>Answerer:</strong>
  <%= @answer.answerer_id %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @answer.comments %>
</p>

<p>
  <strong>Picture url:</strong>
  <%= @answer.picture_url %>
</p>

<p>
  <strong>Answer option:</strong>
  <%= @answer.answer_option_id %>
</p>

<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
