<%= form_for(@friendship) do |f| %>
  <% if @friendship.errors.any? %>
    <div id="error_explanation">
		<div class="alert alert-dismissible alert-danger">
      <%= pluralize(@friendship.errors.count, "error") %> prohibited this friendship from being saved:
  </div>

      <ul>
      <% @friendship.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id1 %><br>
    <%= f.number_field :user_id1 %>
  </div>
  <div class="field">
    <%= f.label :user_id2 %><br>
    <%= f.number_field :user_id2 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
