<%= form_for(@answer_option) do |f| %>
  <% if @answer_option.errors.any? %>
    <div id="error_explanation">
		<div class="alert alert-dismissible alert-danger">
      <%= pluralize(@answer_option.errors.count, "error") %> prohibited this answer_option from being saved:
  </div>

      <ul>
      <% @answer_option.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :question_id %><br>
    <%= f.number_field :question_id %>
  </div>
  <div class="field">
    <%= f.label :option %><br>
    <%= f.text_field :option %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
