<%= form_for @member, :html => {:class => "form-horizontal"} do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
		<div class="alert alert-dismissible alert-danger">
      <%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:
</div>
      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	  
     <div>
       <%= f.hidden_field :user_id, value: params[:target_id] %>
     </div>
  <div class="form-group">
    <%= f.label :group_id, "Group:" %>
    <%= f.collection_select :group_id, Group.active.where(["creator_id = ?", current_user.id]), :id, :name %>
  </div>
  <div class="actions">
	  <%= link_to 'Back', users_path, class: "btn btn-default" %>
    <%= f.submit "Submit", class: "btn btn-default btn-primary"%>
  </div>
<% end %>
